/*********************************************************************

	Name:		Push - Bootstrap Button Pack
	Author:		BootstrapBay - (http://www.bootstrapbay.com/)
	Version:	1.0
	
*********************************************************************/

/******************************************************
	CUSTOM BTN VALUES
******************************************************/

.btn {
	padding: 14px 22px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}


/******************************************************
	OUTLINE BUTTONS
******************************************************/
.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
.btn-success.outline {
	border: 2px solid #00bf6f;
	color: #00bf6f;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
	border-color: #39bf87;
	color: #39bf87;
}
.btn-success.outline:active, .btn-success.outline.active {
	border-color: #008c52;
	color: #008c52;
	box-shadow: none;
}
.btn-info.outline {
	border: 2px solid #31cde8;
	color: #31cde8;
}
.btn-info.outline:hover, .btn-info.outline:focus, .btn-info.outline:active, .btn-info.outline.active, .open > .dropdown-toggle.btn-info {
	border-color: #5fd4e8;
	color: #5fd4e8;
}
.btn-info.outline:active, .btn-info.outline.active {
	border-color: #35a2b5;
	color: #35a2b5;
	box-shadow: none;
}
.btn-warning.outline {
	border: 1px solid #ff944f;
	color: #eb8f34;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
	border-color: #f5a95c;
	color: #f6701f;
}
.btn-warning.outline:active, .btn-warning.outline.active {
	border-color: #b87430;
	color: #b87430;
	box-shadow: none;
}
.btn-danger.outline {
	border: 2px solid #f25454;
	color: #f25454;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
	border-color: #f26d6d;
	color: #f26d6d;
}
.btn-danger.outline:active, .btn-danger.outline.active {
	border-color: #bf4343;
	color: #bf4343;
	box-shadow: none;
}

/******************************************************
	BUTTON SIZING
******************************************************/

.btn-xs, .btn-group-xs > .btn {
	padding: 2px 6px;
}
.btn-sm, .btn-group-sm > .btn {
	padding: 8px 12px;
}
.btn-lg {
	padding: 20px 40px;
	border-radius: 4px;
}
.btn-xs.btn-default, .btn-xs.outline {
	padding: 0 4px;
}
.btn-sm.btn-default, .btn-sm.outline {
	padding: 6px 10px;
}
.btn-lg.btn-default, .btn-lg.outline {
	padding: 18px 38px;
}